@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

/* Colors */

:root {
    --Purple: hsl(259, 100%, 65%);
    --Light-red: hsl(0, 100%, 67%);

    --White: hsl(0, 0%, 100%);
    --Off-white: hsl(0, 0%, 94%);
    --Light-grey: hsl(0, 0%, 86%);
    --Smokey-grey: hsl(0, 1%, 44%);
    --Off-black: hsl(0, 0%, 8%);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    /* border: 1px solid red; */
    font-family: Poppins, sans-serif;
}

body {
    background: var(--Off-white);
    display: grid;
    justify-items: center;
    align-items: center;
}

main {
    background: var(--White);
    width: 90vw;
    height: 450px;
    border-radius: 20px 20px 70px 20px;
    padding: 30px 20px;
    margin: 80px 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.404);
}

#day {
    grid-area: day;
}

#month {
    grid-area: month;
}

#year {
    grid-area: year;
}

button {
    grid-area: btn;
}

form {
    height: 120px;
    display: grid;
    grid-template-areas: 
    "day month year"
    "btn btn btn";
    column-gap: 15px;
    margin-bottom: 50px;
    border-bottom: 1px solid var(--Light-grey);
}

form label {
    display: flex;
    flex-direction: column;
    color: var(--Smokey-grey);
}

form p{
    margin-bottom: 5px;
    font-size: 0.8em;
    letter-spacing: 2px;
}

.erro-span {
    color: red;
    font-size: 0.7em;
    font-style: italic;
}

.erro-input {
    border: 1px solid red;
}

form input {
    min-width: 80px;
    max-width: 120px;
    height: 45px;
    font-size: 1.4em;
    border: 2px solid var(--Light-grey);
    border-radius: 7px;
    color: var(--Off-black);
    outline: none;
    padding: 10px 0px 10px 10px;
}

form input:focus {
    border: 2px solid var(--Purple);
}

#form button {
    align-self: flex-end;
    justify-self: center;
    margin-bottom: -30px;
    background: var(--Purple);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 0px 3px var(--Purple);
}

#form button:hover {
    background: var(--Off-black);
}

#result {
    font-size: 3em;
    font-weight: 800;
    font-style: italic;
}

#result span {
    font-size: 1.1em;
    margin-right: 10px;
    color: var(--Purple);
    letter-spacing: 3px;
}

footer {
    position: absolute;
    bottom: 10px;
    font-size: 0.7em;
}

footer a, footer a:visited {
    color: var(--Purple);
}

footer a:hover {
    color: hsl(259, 55%, 31%);;
    border-bottom: 2px solid var(--Purple);
}

@media screen and (min-width: 768px) {
    main {
        width: 50vw;
        height: 500px;
    }

    form {
        column-gap: 5px;
    }

    #form button {
        align-self: flex-end;
        justify-self: end;
    }

    #result {
        font-size: 3.2em;
    }
}